* {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(111, 107, 148);
    background: -moz-linear-gradient(90deg, rgba(111, 107, 148, 1) 0%, rgba(71, 71, 191, 1) 53%, rgba(111, 0, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(111, 107, 148, 1) 0%, rgba(71, 71, 191, 1) 53%, rgba(111, 0, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(111, 107, 148, 1) 0%, rgba(71, 71, 191, 1) 53%, rgba(111, 0, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6f6b94", endColorstr="#6f00ff", GradientType=1);
}

h1 {
    color: #eaebff;
}

#converter {
    width: 400px;
    padding: 20px;
    background-color: #eaebff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

input[type="number"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 35%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    color: #eaebff;
}